Repository CoderDayton/roblox-bridge-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun run typecheck

.lintstagedrc:

{
  "*.{ts,js,json,md}": ["prettier --write"],
  "*.ts": ["bun run typecheck"]
}

Add 59 new methods (Animation, GUI, Networking, DataStore, Tween, Raycasting, Constraints, Particles, Materials, Marketplace, Teams, Leaderstats)
  CHANGES.md
  README.md
  changes_v1.0/README.md
  package-lock.json
  plugin/mcp-bridge.server.lua
  src/resources/index.ts
  src/tools/roblox-tools.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

refactor(auth): replace API key with version handshake
  .env.example
  package.json
  plugin/mcp-bridge-plugin.server.lua
  src/__tests__/unit/validation.test.ts
  src/config.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

chore: consolidate plugin files and misc improvements
  plugin/loader.server.lua
  plugin/mcp-bridge.server.lua
  plugin/roblox-bridge/icon.png
  plugin/roblox-bridge/icon.svg
  plugin/roblox-bridge/init.server.lua
  src/index.ts
  src/tools/roblox-tools.ts
  src/utils/logger.ts
Due: prettier --write, bun run typecheck

refactor(plugin): modularize Lua plugin into tools/ and utils/
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/tools/async.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/players.lua
  plugin/roblox-bridge/tools/scripting.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/visual.lua
  plugin/roblox-bridge/tools/world.lua
  plugin/roblox-bridge/utils/path.lua
  plugin/roblox-bridge/utils/sandbox.lua
  plugin/roblox-bridge/utils/services.lua
  plugin/roblox-bridge/utils/ui.lua
  plugin/roblox-bridge/utils/websocket.lua
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

feat(tools): add 7 additional methods to TypeScript API
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

refactor: WebSocket-only communication, remove HTTP polling
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/API.md
  plugin/roblox-bridge/utils/websocket.lua
  src/__tests__/unit/bridge-connection.test.ts
  src/__tests__/unit/bridge-longpoll.test.ts
  src/__tests__/unit/bridge-metrics.test.ts
  src/__tests__/unit/bridge-websocket.test.ts
  src/__tests__/unit/bridge.test.ts
  src/resources/index.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

feat(tools): add 31 new methods and refactor plugin architecture
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/players.lua
  plugin/roblox-bridge/tools/scripting.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/visual.lua
  plugin/roblox-bridge/tools/world.lua
  plugin/roblox-bridge/utils/services.lua
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

test: achieve 100% coverage with comprehensive test suite
  src/__tests__/integration/plugin-lua-syntax.test.ts
  src/__tests__/integration/plugin-protocol.test.ts
  src/__tests__/integration/plugin-structure.test.ts
  src/__tests__/unit/bridge-server.test.ts
  src/__tests__/unit/errors.test.ts
  src/__tests__/unit/logger.test.ts
  src/__tests__/unit/resources.test.ts
  src/__tests__/unit/roblox-tools.test.ts
  src/utils/bridge.ts
  src/utils/logger.ts
Due: prettier --write, bun run typecheck

feat(tools): expand to 205 methods, exceeding 200 goal
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/players.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/world.lua
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

feat(tools): add 21 advanced methods from Roblox API reference
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/world.lua
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

perf: optimize TypeScript and Luau for runtime performance
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/tools/async.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/players.lua
  plugin/roblox-bridge/tools/scripting.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/visual.lua
  plugin/roblox-bridge/tools/world.lua
  plugin/roblox-bridge/utils/path.lua
  plugin/roblox-bridge/utils/sandbox.lua
  plugin/roblox-bridge/utils/services.lua
  plugin/roblox-bridge/utils/ui.lua
  plugin/roblox-bridge/utils/websocket.lua
  src/config.ts
  src/tools/roblox-tools.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

docs: enhance TypeScript and Lua documentation
  plugin/roblox-bridge/tools/async.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/players.lua
  plugin/roblox-bridge/tools/scripting.lua
  plugin/roblox-bridge/tools/spatial.lua
  plugin/roblox-bridge/tools/visual.lua
  plugin/roblox-bridge/tools/world.lua
  src/tools/roblox-tools.ts
Due: prettier --write, bun run typecheck

chore: cleanup codebase and add plugin icon
  CHANGELOG.md
  README.md
  plugin/roblox-bridge/init.server.lua
  src/__tests__/integration/bridge-http.test.ts
  src/__tests__/unit/roblox-tools.test.ts
  src/__tests__/unit/validation.test.ts
  src/config.ts
  src/index.ts
  src/tools/roblox-tools.ts
  src/utils/errors.ts
Due: prettier --write, bun run typecheck

feat(plugin): add max retry limit for WebSocket reconnection
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/utils/websocket.lua
  src/__tests__/integration/plugin-structure.test.ts
  src/__tests__/unit/bridge-server.test.ts
Due: prettier --write, bun run typecheck

chore: update dependencies
  bun.lock
  package.json
Due: prettier --write

fix: address review findings for reliability and usability
  .env.example
  lefthook.yml
  package.json
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/tools/async.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/ui/components/action-buttons.lua
  plugin/roblox-bridge/ui/components/button.lua
  plugin/roblox-bridge/ui/components/connect-button.lua
  plugin/roblox-bridge/ui/components/header.lua
  plugin/roblox-bridge/ui/components/history-panel.lua
  plugin/roblox-bridge/ui/components/stats-panel.lua
  plugin/roblox-bridge/ui/components/status-card.lua
  plugin/roblox-bridge/ui/components/tab-button.lua
  plugin/roblox-bridge/ui/init.lua
  plugin/roblox-bridge/ui/store.lua
  plugin/roblox-bridge/ui/theme.lua
  plugin/roblox-bridge/ui/widget.lua
  plugin/roblox-bridge/utils/ui.lua
  plugin/roblox-bridge/utils/websocket.lua
  plugin/ui/button.lua
  plugin/ui/history.lua
  plugin/ui/init.lua
  plugin/ui/settings.lua
  plugin/ui/statuspanel.lua
  plugin/ui/titlebar.lua
  scripts/generate-installer.ts
  src/__tests__/integration/plugin-ui.test.ts
  src/index.ts
Due: prettier --write, bun run typecheck

chore: add project assets, benchmarks, and dev utilities
  .gitignore
  assets/icon.png
  assets/icon.svg
  docs/PERFORMANCE_OPTIMIZATION.md
  plugin/roblox-bridge-2.0.0.rbxm
  scripts/test-bridge.ts
  src/__tests__/benchmarks/bridge-performance.bench.ts
  src/index.ts
Due: prettier --write, bun run typecheck

feat(plugin): overhaul history system with centralized undo waypoints
  plugin/roblox-bridge/init.server.lua
  plugin/roblox-bridge/tools/instance.lua
  plugin/roblox-bridge/tools/visual.lua
  plugin/roblox-bridge/ui/components/history-panel.lua
  plugin/roblox-bridge/ui/widget.lua
  src/__tests__/integration/plugin-ui.test.ts
Due: prettier --write, bun run typecheck

test(luau): add Lune-based test infrastructure for plugin code
  .github/workflows/ci.yml
  .gitignore
  package.json
  rokit.toml
  tests/luau/framework.luau
  tests/luau/init-server.test.luau
  tests/luau/loader.luau
  tests/luau/mocks/roblox-env.luau
  tests/luau/mocks/services.luau
  tests/luau/path.test.luau
  tests/luau/runner.luau
  tests/luau/store.test.luau
Due: prettier --write

fix(ci): install Rokit directly instead of missing GH action
  .github/workflows/ci.yml
Due: none

fix(ci): trust lune-org/lune before rokit install
  .github/workflows/ci.yml
Due: none

fix(plugin): rename result field to data in sendResult payload
  plugin/roblox-bridge/utils/websocket.lua
Due: none

fix: use package.json as single source of truth for version
  scripts/generate-installer.ts
  scripts/test-bridge.ts
  src/__tests__/unit/bridge-server.test.ts
  src/__tests__/unit/version-sync.test.ts
  src/config.ts
Due: prettier --write, bun run typecheck
