Repository CoderDayton/roblox-bridge-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun run typecheck

.lintstagedrc:

{
  "*.{ts,js,json,md}": ["prettier --write"],
  "*.ts": ["bun run typecheck"]
}

Configure npm publishing with npx support
  package.json
  src/index.ts
Due: prettier --write, bun run typecheck

Add environment variable configuration with dotenv
  .env.example
  .gitignore
  package.json
  src/config.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Add CHANGELOG.md and integrate with release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
Due: prettier --write

Improve error handling with retry logic and better messages
  .env.example
  README.md
  src/config.ts
  src/tools/roblox-tools.ts
  src/utils/bridge.ts
  src/utils/errors.ts
Due: prettier --write, bun run typecheck

Add structured logging system
  .env.example
  README.md
  src/index.ts
  src/utils/bridge.ts
  src/utils/logger.ts
Due: prettier --write, bun run typecheck

Fix dotenv debug output breaking MCP JSON protocol
  src/config.ts
Due: prettier --write, bun run typecheck

Improve .gitignore with comprehensive patterns
  .gitignore
Due: none

Fix CI failure: make lefthook install optional in prepare script
  package.json
Due: prettier --write

Add lefthook as dev dependency and fix prepare script
  package.json
Due: prettier --write

Add non-blocking bridge startup with dynamic port allocation and health endpoint
  .gitignore
  CONTRIBUTING.md
  README.md
  bun.lock
  package-lock.json
  package.json
  plugin/loader.server.lua
  src/__tests__/integration/bridge-http.test.ts
  src/index.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Update README to reflect dynamic port allocation and health endpoint
  README.md
Due: prettier --write

Add MCP resources for bridge status and capabilities introspection
  src/index.ts
  src/resources/index.ts
  src/tools/index.ts
Due: prettier --write, bun run typecheck

Add MCP resources, metrics tracking, and 17 new methods
  plugin/loader.server.lua
  src/resources/index.ts
  src/tools/roblox-tools.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Add WebSocket/long-polling, API key authentication, and documentation
  .env.example
  README.md
  plugin/loader.server.lua
  src/config.ts
  src/resources/index.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Add complete single-file plugin with polished UI, cached fonts, and connection toggle
  plugin/mcp-bridge-plugin.server.lua
  plugin/ui/button.lua
  plugin/ui/history.lua
  plugin/ui/init.lua
  plugin/ui/settings.lua
  plugin/ui/statuspanel.lua
  plugin/ui/titlebar.lua
Due: none

Update release workflow to include mcp-bridge-plugin.server.lua
  .github/workflows/release.yml
Due: none

Optimize port discovery: prioritize common ports (8081-8083) for faster connection
  package.json
  plugin/mcp-bridge-plugin.server.lua
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Simplify to single port 53847 - no more port scanning
  .env.example
  plugin/mcp-bridge-plugin.server.lua
  src/config.ts
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

Add reactive store for UI state management - all variables update from single source
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix vararg error in store:set() and update toolbar icon
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: move createStore before createUI, remove invalid icon
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: use props.getCurrentKey() instead of undefined getCurrentKey()
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: use GetAsync instead of RequestAsync to avoid blocking, add uptime loop
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: add task.wait when no server found to prevent infinite tight loop
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: add missing DockWidgetPluginGui creation with proper modern API
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix shadowCorner.CornerRadius bug, add StudioService
  plugin/mcp-bridge-plugin.server.lua
Due: none

Add GitHub Sponsors funding link (Buy Me a Coffee)
  .github/FUNDING.yml
Due: none

Add issue templates (bug, feature) and PR template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Fix: declare toggleBtn before using in onClick callback
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: wrap Undo/Redo in pcall to prevent errors at history bounds
  plugin/mcp-bridge-plugin.server.lua
Due: none

Add debug logging for poll failures
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: use props.onSaveKey instead of undefined onSaveKey
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: treat ConnectionClosed as normal long-poll timeout, retry silently
  plugin/mcp-bridge-plugin.server.lua
Due: none

Fix: sync Connect/Disconnect button with connection state via store
  plugin/mcp-bridge-plugin.server.lua
  scripts/check-lua-syntax.ts
  scripts/validate-plugin.ts
Due: prettier --write, bun run typecheck

feat: enhance code quality with Zod validation, ESLint strict mode, and comprehensive testing
  CONTRIBUTING.md
  README.md
  bun.lock
  eslint.config.js
  package.json
  plugin/loader.server.lua
  plugin/mcp-bridge-plugin.server.lua
  src/__tests__/integration/bridge-http.test.ts
  src/__tests__/unit/bridge-connection.test.ts
  src/__tests__/unit/bridge-longpoll.test.ts
  src/__tests__/unit/bridge-metrics.test.ts
  src/__tests__/unit/bridge-websocket.test.ts
  src/__tests__/unit/bridge.test.ts
  src/config.ts
  src/index.ts
  src/resources/index.ts
  src/tools/roblox-tools.ts
  src/utils/bridge.ts
  src/utils/errors.ts
  src/utils/logger.ts
Due: prettier --write, bun run typecheck

feat(plugin): remove frequent connection warning logs
  plugin/mcp-bridge.server.lua
Due: none

fix(bridge): prevent crash when port is in use
  install-plugin.lua
  src/utils/bridge.ts
Due: prettier --write, bun run typecheck

chore: change bridge port to 62847 to avoid conflicts
  plugin/mcp-bridge.server.lua
Due: none

chore: remove invalid bin field from package.json
  package.json
Due: prettier --write

chore: update dependencies
  bun.lock
  package.json
Due: prettier --write
